<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <h1>
    Welcome to Alexandria!
  </h1>
</div>
<button class="btn" routerLink="/overview"><i class="fa fa-home"> Overview </i></button>
<button class="btn" routerLink="/create_szenario"> Create new Szenario </button>
<button class="btn" routerLink="/create_erfordernis"> Create new Erfordernis </button>
<button class="btn" routerLink="/create_anforderung"> Create new Anforderung </button>
